/* SCSS HEX */
$dark-slate-gray: #2b4141ff;
$satin-sheen-gold: #CD9E4Dff;
$earth-yellow: #d9ae61ff;
$chili-red: #d1462fff;
$rich-black: #0d0c1dff;

$theme-colors: (
  "primary":    $dark-slate-gray,
  "secondary":  $satin-sheen-gold,
  "success":    $earth-yellow,
  "info":       $rich-black,
  "warning":    $chili-red,
  "danger":     $chili-red,
  "light":      $earth-yellow,
  "dark":       $dark-slate-gray
);